{{yield}}

<form {{action "submit" on="submit"}}>
  {{input value=title placeholder="Add Title"}}
  <br>
  <br>
  {{input value=author placeholder="Add Author"}}
  <br>
  <br>
  {{input value=description placeholder="Add description"}}
  <br>
  <br>
  <button type="submit">Add Book</button>
</form>
